/* RESET ****************************/

/* http://meyerweb.com/eric/tools/css/reset/ */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0; 
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	padding-left: 0px;
	float: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display:block;
}
nav ul {
    list-style:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* 2.1 BODY DEFAULTS
--------------------------------------------------------- */
 html {
    margin-bottom: 1px;
    /* 	min-height: 100%; */
}
body {
	background: #0F4865;  		/*nice blue*/
	/*background: #103252;*/
    /*background: #F0F0F0;    ORIGINAL gry*/
    color: #444;
    font-family: Georgia, serif;
    font-size: 62.5%;
}
body {
	font-size: 16px;
}
/* 2. BASE
-----------------------------------------------------------------------------------------------
===============================================================================================*/
 .inner {
    margin: 0 auto;
    float: center;
    width: 1020px;
    
    /*width: 1020px;  PUT THIS BACK: the toolbar doesn't stick to it*/
}
header {								/*header top*/
	
    background:#0F4865;
	/*background: #D0221A;*/

	
    height: 200px;
    width: 100%;
    /*
	position: relative;
	z-index: 500;
*/
}
main {
    font-family:'Lato', sans-serif;
    background: #FFF;
    border-top: 45px solid #0090D2;
    margin:-45px auto 0px;
    width: 1020px; 
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    height: 100%;
    
}
/* 2.1 HEADER STYLES
--------------------------------------------------------- */
 header .logo {
    font-family:'Lato', sans-serif;
    height: 124px;
    /* 	margin: 0; */
    padding-top: 30px;
    /* 	width: 500px; */
    /*color: white;     ORIGINAL WHITE*/

	
    
}
header .logo h1 {
    /* 	color: white; */
    height: 45px;
    font-size: 40px;
    font-style: !important;
}
header .logo h2 {					/* Discover, Preserve, etc txt*/
    /*color: #FFF;*/
	color: #FFF;

    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    /* 	margin: 0; */
    /* 	left: -240px; */
    line-height: 1;
    position: relative;
    text-transform: none;
    float: left;
}
header .logo img {						/*Crossroads logo*/
    float: left;
    position: relative;
}

header .nav{
	float: center;
	display: inline-block;

}

 header .inner nav {					
	float: center; 
    position: relative;	
    top: 14px;
    width: 980px;
}
header .inner nav ul {
    text-align: left;
    display: inline;
    color: #fff;
    font-family:'Lato', sans-serif;
}
header .inner nav ul li {
    float: center;
    cursor: pointer;
    display: inline-block;
   
}
/* 2.1.2 MAIN NAV STYLES */
 /*
 header .inner nav {					
    left: 0px;
	float: center; 
    padding: 0 20px;
    position: relative;	
    top: 14px;
    width: 980px;
    z-index: 3;
}
header .inner nav ul {
    text-align: left;
    display: inline;
    color: #fff;
    float: left;						
    font-family:'Lato', sans-serif;
    letter-spacing: 1px;
    margin:0 0 0 -10px;
}
header .inner nav ul li {
    float: left;
    padding:0 10px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}*/

nav a:link {
    text-decoration:none;
    color: white;
}
nav a:visited {
    color white;
    text-decoration:none;
}

.slide {
	
	height: 100px;
}
/*
ul li:hover {
  background: #555;
  color: #fff;
}
*/

/*
header .inner nav ul li a{
	color: #fff;
	font-size:14px;
	padding: 15px 10px 13px;
}
header .inner nav ul li a:hover{
	text-decoration: underline;
}
*/

/* 2.1.3 SEARCHFORM STYLES */
 form#search-form {
    position: absolute;
    right: 20px;
    top: -8px;
    z-index: 400;
}
form#search-form div {
    max-height: 33px;
    position: relative;
    width: 250px;
}
form#search-form div input[type="text"] {
    background: #eee;
    border:1px solid rgba(0, 0, 0, 0.3);
    padding:8px 75px 8px 8px;
    width:191px;
}
form#search-form div input[type="submit"] {
    display: inline;
    white-space: nowrap; 
    cursor: pointer;
    float: right;
    margin: 0px !important;
    padding: 4px 6px !important;
    position: relative;
    right: -16px;
    top: -33px;
}
/* 3.2 BUTTON STYLES
--------------------------------------------------------- */
 .wp-pagenavi ul li a, .btn a, a.btn, form#search-form div input[type="submit"], #form #commentform input[type="submit"], .wpcf7-form input[type="submit"] {
    display: block;
    white-space: nowrap;
    margin: 5px;
    padding: 4px 15px;
    border: 1px solid #4081af;
    border-bottom-color: #20559a;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    khtml-border-radius: 4px;
    border-radius: 4px;
    background: #0090D2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf));
    background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 2px rgba(255, 255, 255, .3), 0 1px 2px rgba(0, 0, 0, .29);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 2px rgba(255, 255, 255, .3), 0 1px 2px rgba(0, 0, 0, .29);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 2px rgba(255, 255, 255, .3), 0 1px 2px rgba(0, 0, 0, .29);
}
/*********** Home **********/

 .home{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	width: 363px;
	height: 113px;
	background: #FFF;
	position: left;
	margin-top: -177px;
	margin-left: 690px;
	margin-bottom: 0;
	-moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	padding-top: 0px;
	font-size: large;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
	float: none;
	overflow-x: visible;
	padding-bottom: 103px;
}
.cr{
	float: none;
	margin-right: 0px;
	margin-left: 273px;
	margin-bottom: -42px;
	margin-top: 13px;
}

/************ Team **********/
 .page_title{
	 
	 text-align: center;
	 
 }
 
 .about {
    padding: 20px;
    text-align: center;
}
/*
.content {
	width: 800px;
	margin: 0 auto;
}
*/
 .content .page_title {
    height: 60px;
    /* 	margin: 0 auto; */
}
.content .page_title h1 {
    text-align: left;
    top: 20px;
    font-family:'Lato', sans-serif;
    font-size: 14px;
    text-color: #555;
    height: inherit;
    width: 800px;
    top: 20px;
    right: 85px;
    float: right;
    position: relative;
    text-align: left;
    line-height: 150%;
}
.bio {
    width: 1020px;
    height: 240px;
    background: #FFF;
    position: relative;
    margin: 0 auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.bio .p_img {
    position: relative;
    height: inherit;
    float: left;
    /*
	top: 20;
	left: 20;
*/
    width: 200px;
}
.p_img img {
    position: relative;
    float: left;
    padding: 0px;
    height: 200px;
    top: 20px;
    left: 20px;
    /* 	left: 20px; */
}
.bio .bio_text {
    font-family:'Lato', sans-serif;
    font-size: 14px;
    text-color: #555;
    height: inherit;
    width: 800px;
    top: 20px;
    right: 20px;
    float: right;
    position: relative;
    text-align: left;
    line-height: 130%;
}
.bio .bio_text .name {
    float: left;
    font-weight: bold
}

.bio_tall {
	width: 500px;
    height: 500px;
    background: #FFF;
    position: relative;
    float: left;
    margin: 0 auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.bio_space {
	width: 20px;
	height: 500px;
	float: left
	
}

.bio_tall_block {
    width: 1020px;
    height: 500px;
    background: rgba(255, 255, 255, 0);
    position: relative;
    margin: 0 auto;
}
/***************projects***********/
 
 
 .map_container {
    width: 1020px;
    height: 400px;
    background: #FFF;
    position: relative;
    margin: 0 auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.content_block {
    width: 1020px;
    height: 400px;
    background: rgba(255, 255, 255, 0);
    position: relative;
    margin: 0 auto;
}
.content_space {
    width: 20px;
    height: 400px;
    background: rgba(255, 255, 255, 0);
    position: relative;
    margin: 0 auto;
    float: left;
}
.content_half {
    width: 500px;
    height: 400px;
    background: #FFF;
    position: relative;
    float: left;
    margin: 0 auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.content_third {
    width: 326px;
    height: 400px;
    background: #FFF;
    position: relative;
    float: left;
    margin: 0 auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.content_third_big {
    width: 365px;
    height: 400px;
    background: #FFF;
    position: relative;
    float: left;
    margin: 0 auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.content_third_third {
    width: 327px;
    height: 400px;
    background: #FFF;
    position: relative;
    float: left;
    margin: 0 auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.content_two_third {
    width: 635px;
    height: 400px;
    background: #FFF;
    position: relative;
    float: left;
    margin: 0 auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.project {
    width: 1020px;
    height: 300px;
    background: white;
    position: relative;
    margin: 0 auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}



.project p {
    font-family:'Lato', sans-serif;
    font-size: 14px;
    text-color: green;
    height: inherit;
    width: 800px;
    bottom: 200px;
	left: 35px;
    margin: 0px 0px 100px 100px;
    float: right;
    position: relative;
	text-align: left;
    line-height: 130%;
}

.project .image { 
	height: 200px;
	width: 240px;
	margin:46px 0px 0px 0px;

}



/***************hayes index***********/
 h1 {
    color: #0063A6;
    font-size:175%;
    font-family: Georgia, serif;
}
h2 {
    color: #FFF
    font-family: Georgia, serif;
    font-size:120%
}
/*********scrollable table***************/
.result{
	text-align: center;
	
	
}
/*********************Project Page***************/
 .content .text {
    font-family:'Lato', sans-serif;
    font-size: 14px;
    text-color: #555;
    height: inherit;
    width: 800px;
    top: 20px;
    right: 20px;
    float: right;
    position: relative;
    text-align: left;
    line-height: 150%;
}
.bio a:link {
    color: #555;
}
/* visited link */
 .bio a:visited {
    color: #555;
}
li a:link {
    color: white;
}
li a:visited {
    color: white;
}

table .view {
	float: left;
}


/******************Gallery ***********************/


.content_240 {
    width: 240px;
    height: 240px;
    background: #FFF;
    position: relative;
    float: left;
    margin: 0 auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.content_block_240{
    width: 1020px;
    height: 240px;
    background: rgba(255, 255, 255, 0);
    position: relative;
    margin: 0 auto;
}

.content_space_240{
    width: 20px;
    height: 240px;
    background: rgba(255, 255, 255, 0);
    position: relative;
    margin: 0 auto;
    float: left;
}

/******************DEFUNCT Gallery ***********************/
.gallery {
	width: 1020px;
/* 	height: 100%; */
    background: rgba(255, 255, 255, 0);
    margin: 0 auto;
}

.gallery .image {
    width: 240px;
    height: 240px;
    background: #FFF;
    margin: 0 auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    float: left;
}

.gallery .break {
	height: 240px;
	width: 20px;
	float: left;
}

.break_long {
	height: 20px;
	width: 1020px;
	background-color: solid black;
}




/******************ledgers results***********************/

.result {
   width: 1020px;
   height: 77px;
   background: #FFF;
   position: relative;
   margin: 0 auto;
   -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  
  }

/******************Table results***********************/

@import url('http://fonts.googleapis.com/css?family=Amarante');


html { overflow-y: scroll; }


::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 { 
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}


/** page structure **/
#wrapper {
  display: block;
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('http://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('http://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}


